@media (max-width: 768px){
  .App{
    padding: 4rem 2rem !important;
  }

  .tasksComponent{
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

.App {
  max-width: 56.25rem;
  min-height: calc(100vh - 4rem);
  margin: auto;
  padding: 4rem;

  background: white;
}

.App-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header form{
  width: 100%;
}

h1.title{
  font-size: 3.5rem;
  width: fit-content;
  margin-top: 0;
  align-self: start;

  user-select: none;
  text-decoration: underline;
  text-decoration-color: var(--purple-95);
}

h1.title:hover{
  color: var(--purple-60);
  cursor: default;
}

.taskForm{
  display:flex;
  flex-direction: row;
  gap: .5rem;
}

.taskInput{
  width: 100%;
  font-size: 1.3rem;
  padding: .6rem;

  border-radius: 6px;
  border: 1px solid var(--gray-60);

  overflow: hidden;
}

.taskInput:focus{
  outline: 0;
  box-shadow: 0 0 0 1px var(--purple-60);
}

.taskInput::placeholder{
  color: var(--gray-70);
}

.taskSubmit{
  min-width: 3.3rem;
  padding: 0;

  background-color: var(--purple-60);
  color: white;
  
  border: none;
  border-radius: 6px;

  font-size: 3rem;

  cursor: pointer;
}

.taskSubmit:hover{
  background-color: var(--purple-55);
}

.tasksComponent{
  margin-top: 4rem;
}