

.App {
  max-width: 900px;
  min-height: calc(100vh - 4rem);
  margin: auto;
  padding: 2rem 4rem;

  background: white;
}

h1.title{
  font-size: 3rem;
  width: fit-content;
}

h1.title:hover{
  color: var(--purple-60);
  cursor: default;
}

.taskForm{
  display:flex;
  flex-direction: row;
  gap: .5rem;
}

.taskInput{
  width: 500px;
  font-size: 1.3rem;
  padding: .6rem;

  border-radius: 6px;
  border: 1px solid var(--gray-60);
}

.taskInput:focus{
  outline: 0;
  box-shadow: 0 0 0 1px var(--purple-60);
}

.taskInput::placeholder{
  color: var(--gray-70);
}

.taskSubmit{
  min-width: 3.3rem;
  padding: 0;

  background-color: var(--purple-60);
  color: white;
  
  border: none;
  border-radius: 6px;

  font-size: 3rem;

  cursor: pointer;
}

.taskSubmit:hover{
  background-color: var(--purple-55);
}

.tasksComponent{
  margin-top: 4rem;
}