:root{
    --gray-60: hsl(0, 0%, 60%);
    --gray-70: hsl(0, 0%, 70%);
    --gray-95: hsl(0, 0%, 95%);
    --purple-95: hsl(263, 66%, 95%);
    --purple-60: hsl(263, 66%, 60%);
    --purple-55: hsl(263, 66%, 55%);
    --red-60: hsl(0, 82%, 65%);
}

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    background: var(--purple-95);
}

@media (max-width: 425px){
    html{
        font-size: 80%;
    }
}