ul{
    list-style-type: none;
    padding:0;
}

li{
    font-size: 1.5rem;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
    transition: background 0.5s;

    display: flex;
    flex-direction: row;
    align-items: center;
}

li button{
    justify-self: flex-end;
}

li:hover{
    background: var(--purple-95);
}
li:hover .deleteButton{
    opacity: 1;
}

li:first-child{
    border-top: 1px solid lightgray;
}

input[type=checkbox]{
    transform: scale(1.8);
    margin: 0;
    margin-left: .5rem;
    cursor: pointer;
}

li.done{
    background: var(--gray-95);
}

li.done input[type=text]{
    text-decoration: line-through;
    color: gray;
    filter: grayscale(100%);
}
li.done input[type=checkbox]{
    filter: grayscale(100%);
}

.deleteButton{
    width: 2rem;
    background: none;
    color: var(--red-60);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor:pointer;

    transition: opacity 0.2s;
    opacity: 0;
}

li form{
    width: 100%;
    margin-left: 1.5rem;
}

li form input[type=text]{
    background: none;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    border: 0;
    cursor: pointer;
}

li form input[type=text]:focus{
    outline: none;
    cursor:text;
}